.contain__principal {
  min-height: 100vh;
  background-image: url(https://otorrinolaringologoenmonterrey.com/assets/img/seo/un-otorrinolaringologo-cerca-de-mi.png);
  display: flex;
align-items: center;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
  background-size: cover;
}

.contain__principal h1 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}
.contain__principal p,
ul,
li {
  font-size: 12px;
}

span {
  font-weight: bold;
}

img {
  width: 50px;
  height: 50px;
}

.section__info,
.contain__services {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  max-width: 500px;
  padding: 0.5rem;
  background-color: rgba(198, 245, 245, 0.226);
  list-style-position: inside;
}

.section__info > p,span, .contain__services > p,span, li{
  font-size: 23px;
}

.section__h2{
  font-size: small;
}


